.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 3.25rem;
  padding: 2rem 0;
}
 
.product-card {
  border: 1px solid #d98c2d;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  transition: box-shadow 0.3s;
}
 
.productImage {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  aspect-ratio: 3/2;
  object-fit: contain;
}
 
.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.addCartBtn{
  width : 45%;
  border : 1px solid #d98c2d;
}

.addCartBtn:hover{
  border: none;
  background-color: #d98c2d;
  color: white;
}

.addCartBtn:nth-child(1){
  border : none;
}

.removeCartBtn {
  width : 45%;
  border : 1px solid red;
  color: red;
}

.removeCartBtn:hover{
  border: none;
  background-color: red;
  color: white;
}

@media screen and (max-width : 576px){ 
  .product-grid{
    justify-content: center !important;
  }
  
}