.filterArea{
    justify-content: space-between;
    align-items: center;
}

.searchField {
    width: 15rem;
    height: 30px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #d98c2d;
    border-radius: 5px;
}

.searchField input{
    width: 100%;
    border: none;
    outline: none;
}

.searchIcon{
    width: 15%;
    height: 70%;
    padding: 10px 0;
    color: #d98c2d;
}

@media screen and (min-width:768px) {
    .searchField {
        width: 20rem;
    }
}